.metatip-layer {
    background:#fff;
    position:absolute;
    width:300px;
    margin-left:-150px;
    bottom:0;
    margin-bottom:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor:default;
}

.metatip-layer:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	left: 50%;
    top: 100%;
	margin-left: -10px;
}

.metatip-layer .field img {
    max-width:280px !important;
}

.metatip-layer h1,
.metatip-layer h2,
.metatip-layer h3 {
    margin:0;
}

.metatip-layer div.label {
    color:#888;
    display:block;
}

.metatip .close {
    position:absolute;
    right:0;
    top:0;
    color:#888;
    padding:5px;
    line-height: 10px;
    font-size: 20px;
}

.metatip .close:hover {
    color:#222;
}

.metatip .toggle {
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    display:inline-block;
}

.metatip .hide {
    display:none;
}

.metatip .toggle a.active {
    color:#222;
}

.metatip .toggle a {
    padding:2px 5px;
    background:#f7f7f7;
    color:#777;
    display:inline-block;
}

/* Forms */
.metatip input,
.metatip label,
.metatip table,
.metatip button,
.metatip tr,
.metatip th,
.metatip td {
    margin:0px;
    padding:0px;
    border:0px;
    outline:0px;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    line-height:inherit;
    border-collapse:collapse;
}

.metatip table {
    border:1px solid rgba(0,0,0,0.1);
    width:280px;
}

.metatip input[type=text] {
    background-color:#fff;
    border:1px solid rgba(0,0,0,0.1);
    -webkit-transition:border-color .1s;
    -moz-transition:border-color .1s;
    -o-transition:border-color .1s;
    transition:border-color .1s;

    display:inline-block;
    margin:0;
    color:rgba(0,0,0,.9);
    vertical-align:middle;
    padding:5px;
    border-radius:0;

    width:117px;
}



.metatip input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    border-color:rgba(0,0,0,0.25);
    color:#222;
}

.metatip .add-row {
    display:block;
    font-size:10px;
    color:#555;
    width:280px;
    padding:5px 0;
    cursor:pointer;
}

.metatip .add-row:hover {
    color:#222;
    background:#eee;
}

.metatip .buttons-joined {
    margin-top:5px;
}

.metatip .buttons-joined button {
    background:#eee;
    padding:5px 10px;
    margin-right:1px;
    cursor:pointer;
}

.metatip .buttons-joined button.confirm {
    background:#E0AFAF !important;
}

.metatip .buttons-joined button:hover {
    background:#ddd;
}

.metatip .buttons-joined button:first-child {
    border-radius:2px 0 0 2px;
}

.metatip .buttons-joined button:last-child {
    border-radius:0 2px 2px 0;
}

.metatip td.gear {
    background:#eee;
    position:relative;
}

.metatip td.gear button {
    width:20px;
    height:20px;
}

.metatip .pad1 {
    padding:10px;
}

.metatip .config {
    position:absolute;
    top: -1px;
    left: 20px;
    background: #eee;
    padding: 4px;
    border: 1px solid #ccc;
}
